
<nav class="navbar bg-neutral z-10 min-w-full shadow-lg">
    <div class="navbar-start">
        
        <div tabindex="0" class="menu-icon btn btn-ghost btn-small h-6 w-8 mx-3 p-0 min-h-0  z-30 fixed " role="button">
            <span class="bar shadow-sm text-text bg-text"></span>
            <span class="bar shadow-sm text-text bg-text"></span>
            <span class="bar shadow-sm text-text bg-text"></span>
        </div>
        
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-3xl text-text">Logo</a>
    </div>
    <div class="navbar-end" id="navbarEnd">
          <!-- Placeholder for dynamic content -->
    </div>
</nav>

<div id="menuOverlay" class="hidden fixed inset-0 transform -translate-x-full bg-black bg-opacity-90 backdrop-blur-sm z-20 min-w-full items-top text-white container transition-transform duration-300 ease-in-out">
    <div class="flex flex-col min-w-full  space-y-20">
      <!-- Logo on the right side -->
      <div class="text-right min-w-full">
        <a href="#" class="text-4xl font-bold">Logo</a>
      </div>
      <!-- Menu items on the left side -->
      <div class="space-y-16">
        <a href="#" class="block text-5xl mb-4">Homepage</a>
        <a href="#" class="block text-5xl mb-4">Portfolio</a>
        <a href="#" class="block text-5xl">About</a>
      </div>
    </div>
  </div>
  

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

