
{% extends "base.html" %}

{% block title %}Style Guide{% endblock %}



{% block content %}

    {% include 'components/navbar.html' %}

    <div class="global min-width: 1024px;">
        <!-- Color Palette -->
        <div class="section">
            <div class = "grid grid-cols-2 gap-4">
                <div class="container">
                    <h1 class="text-8xl font-bold p-0">Visualise your <span class="text-linear-primary-accent">Colours</span> and style on a mock up</h1>
                    <div class="container mt-8">
                        <div class="container flex justify-between">
                            <!-- Primary -->
                            <div class="bg-primary rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Primary</div>
        
                            <!-- Secondary -->
                            <div class="bg-secondary rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Secondary</div>
        
                            <!-- Primary -->
                            <div class="bg-accent rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Accent</div>
        
                            <!-- Primary -->
                            <div class="bg-neutral rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Neutral</div>
                        </div>
                        <div class="container flex justify-between mt-24">
                            <!-- Primary -->
                            <div class="bg-info rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Info</div>
        
                            <!-- Primary -->
                            <div class="bg-success rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Success</div>
        
                            <!-- Primary -->
                            <div class="bg-warning rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Warning</div>
        
                            <!-- Primary -->
                            <div class="bg-error rounded flex items-center justify-center mr-2 mb-2 text-text" style="width: 80px; height: 80px;">Error</div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="relative bg-background" style="width: 652px; height: 644px;">
                        <!-- Box 1 -->
                        <div class="absolute bg-neutral rounded" style="width: 163px; height: 60px; top: 0px; left: 0px;"></div>
                    
                        <!-- Box 2 -->
                        <div class="absolute bg-secondary rounded" style="width: 193px; height: 60px; top: 0px; left: 424px;"></div>
                        
                        <!-- Box 3 -->
                        <div class="absolute bg-primary rounded" style="width: 335px; height: 324px; top: 68px; left: 80px;"></div>
                        
                        <!-- Box 4 -->
                        <div class="absolute bg-secondary rounded" style="width: 193px; height: 175px; top: 68px; left: 424px;"></div>

                        <!-- Box 5 -->
                        <div class="absolute bg-neutral rounded" style="width: 70px; height: 259px; top: 234px; left: 1px;"></div>
                        
                        <!-- Box 6 -->
                        <div class="absolute bg-text rounded" style="width: 166px; height: 169px; top: 401px; left: 80px;"></div>
                        
                        <!-- Box 7 -->
                        <div class="absolute bg-neutral rounded" style="width: 160px; height: 80px; top: 400px; left: 255px;"></div>

                        <!-- Box 8 -->
                        <div class="absolute bg-primary rounded opacity-20" style="width: 193px; height: 79px; top: 401px; left: 424px;"></div>

                        <!-- Box 9 -->
                        <div class="absolute bg-secondary rounded" style="width: 70px; height: 142px; top: 502px; left: 1px;"></div>

                        <!-- Box 10 -->
                        <div class="absolute bg-neutral rounded" style="width: 160px; height: 80px; top: 490px; left: 255px;"></div>
                        
                        <!-- Box 11 -->
                        <div class="absolute bg-accent rounded" style="width: 193px; height: 129px; top: 490px; left: 424px;"></div>

                        <!-- Box 12 -->
                        <div class="absolute bg-text rounded" style="width: 160px; height: 40px; top: 579px; left: 255px;"></div>
                        
                        
                    </div>
                    <p class="text-xs italic">Credit to https://www.realtimecolors.com/ for visualisation technique</p>
                </div>
            </div>
            
            
            
        </div>

        <!-- Typography -->
        <div class="section">
            <div class="container inline-flex">
                <h2 class="center text-4xl text-center font-bold text-linear-primary-accent">Typography</h2>
            </div>
            <div class="min-w-full prose grid grid-cols-3 gap-4">

                
                <div class="container center">
                    <h2>Heading Two</h2>
                    <h3>Heading Three</h3>
                    <h4>Heading Four</h4>
                </div>
                <div class="container center">
                    <p class="font-bold">Body Bold</p>
                    <p class="font-semibold">Body Semi-Bold</p>
                    <p class="font-normal">Body Normal</p>
                    <p class="font-light">Body Light</p>
                    <p class="font-thin">Body Thin</p>
                </div>
                <div class="container center">
                    <p class="italic">Italic</p>
                    <a href="#">Example of a link</a>
                    <blockquote>
                        <p>"Lorem ipsum blockquote"</p>
                    </blockquote>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                        <li>List item 3</li>
                    </ul>
                </div>
            </div>
        </div>
        

        <!-- Buttons -->
        <div class="section prose">
            <div class="container inline-flex">
                <h2 class="center text-4xl text-center font-bold text-linear-primary-accent">Buttons</h2>
            </div>
            <div class="px-16 grid grid-cols-3 gap-4">
                <div class="container">
                    <h3>Button</h3>
                    <button class="btn">Button</button>
                </div>
                <div class="container">
                    <h3>Buttons with brand colours</h3>
                    <button class="btn">Button</button>
                    <button class="btn btn-neutral">Neutral</button>
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-secondary">Secondary</button>
                    <button class="btn btn-accent">Accent</button>
                    <button class="btn btn-ghost">Ghost</button>
                    <button class="btn btn-link">Link</button>
                </div>
                <div class="container">
                    <h3>Active buttons</h3>
                    <button class="btn btn-active">Default</button>
                    <button class="btn btn-active btn-neutral">Neutral</button>
                    <button class="btn btn-active btn-primary">Primary</button>
                    <button class="btn btn-active btn-secondary">Secondary</button>
                    <button class="btn btn-active btn-accent">Accent</button>
                    <button class="btn btn-active btn-ghost">Ghost</button>
                    <button class="btn btn-active btn-link">Link</button>
                </div>
                <div class="container">
                    <h3>Buttons with state colours</h3>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-error">Error</button>
                </div>
                <div class="container">
                    <h3>Outline buttons</h3>
                    <button class="btn btn-outline">Default</button>
                    <button class="btn btn-outline btn-primary">Primary</button>
                    <button class="btn btn-outline btn-secondary">Secondary</button>
                    <button class="btn btn-outline btn-accent">Accent</button>
                </div>
                <div class="container">
                    <h3>Button sizes</h3>
                    <button class="btn btn-lg">Large</button>
                    <button class="btn">Normal</button>
                    <button class="btn btn-sm">Small</button>
                    <button class="btn btn-xs">Tiny</button>
                </div>
                <div class="container">
                    <h3>Responsive button</h3>
                    <p class="text-xs font-thin">This button will have different sizes on different browser viewpoints</p>
                    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Responsive</button>
                </div>
                <div class="container">
                    <h3>Disabled buttons</h3>
                    <button class="btn" disabled="disabled">Disabled using attribute</button>
                    <button class="btn btn-disabled" tabindex="-1" role="button" aria-disabled="true">Disabled using class name</button>
                </div>
                <div class="container">
                    <h3>Button with loading spinner</h3>
                    <button class="btn btn-square">
                        <span class="loading loading-spinner"></span>
                    </button>
                </div>
            
            </div>
        </div>

        <!-- Forms Section -->
        <div class="section">
            <div class="container prose">
                <h2 class="text-4xl text-center font-bold text-linear-primary-accent">Forms</h2>
                <form class="space-y-4">
                    <!-- Text Input -->
                    <div class="form-control">
                        <label class="input input-bordered input-primary flex items-center gap-2">
                            <input type="text" class="grow" placeholder="Search" />
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="input input-bordered input-lg input-secondary flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" /><path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" /></svg>
                            <input type="text" class="grow" placeholder="Email" />
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="input input-bordered input-sm input-accent flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
                            <input type="text" class="grow" placeholder="Username" />
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="input input-ghost input-xs flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" /></svg>
                            <input type="password" class="grow" value="password" />
                        </label>
                    </div>
                    
                    <!-- Checkbox -->
                    <div class="form-control">
                        <label class="cursor-pointer label">
                            <span class="label-text">Remember me</span>
                            <input type="checkbox" checked="checked" class="checkbox checkbox-secondary" />
                        </label>
                        </div>
                    
                    <!-- Radio Button -->
                    <div class="form-control">
                        <label class="label cursor-pointer">
                            <span class="label-text">Male</span> 
                            <input type="radio" name="radio-10" class="radio radio-accent checked:bg-red-500" checked />
                        </label>
                        <label class="label cursor-pointer">
                            <span class="label-text">Female</span> 
                            <input type="radio" name="radio-10" class="radio radio-accent checked:bg-blue-500" checked />
                        </label>
                    </div>
                    
                    <!-- Select Dropdown -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Select an option</span>
                        </label>
                        <select class="select select-bordered">
                            <option disabled="disabled" selected="selected">Choose one</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>

                    <!-- Textarea -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Message</span>
                        </label>
                        <textarea class="textarea textarea-bordered" placeholder="Your message"></textarea>
                    </div>

                    <!-- File Input -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">File Input</span>
                        </label>
                        <input type="file" class="file-input file-input-bordered w-full max-w-xs" />
                    </div>

                    <!-- Range slider -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Range Slider</span>
                        </label>
                        <input type="range" min="0" max="100" value="40" class="range range-accent" />
                    </div>

                    <!-- Toggle -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Toggle</span>
                        </label>
                        <div class="flex flex-col">
                            <div class="form-control w-52">
                                <label class="cursor-pointer label">
                                <span class="label-text">Primary</span> 
                                <input type="checkbox" class="toggle toggle-primary" checked />
                                </label>
                            </div>
                            <div class="form-control w-52">
                                <label class="cursor-pointer label">
                                <span class="label-text">Secondary</span> 
                                <input type="checkbox" class="toggle toggle-secondary" checked />
                                </label>
                            </div>
                            <div class="form-control w-52">
                                <label class="cursor-pointer label">
                                <span class="label-text">Accent</span> 
                                <input type="checkbox" class="toggle toggle-accent" checked />
                                </label>
                            </div>
                            </div>
                    </div>


                    
                    <!-- Submit Button -->
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}

    


{% endblock %}
