<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    <h1 class="text-red-500 text-5xl font-bold">Welcome to the Home Page! Your home.html was served</h1>
    <button class="btn btn-primary">Click me</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
